myinfo/
*~
/tmp/
.idea/
angle/
chromium/
chromium_git/
depot_tools/
monorail/
T/
gn/
ninja/
skia/
skiaex/

gdev.exe
gdev.ini
gdev.iobj
gdev.ipdb
gdev.pdb



.cipd/
.gclient
.gclient_entries
src/

gitinit.bat
vs/Visualizers/attribcache90.bin
